################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/*.dll
/*.dll.config
/*.pdb
/*.xml
/.vs
/lib
/obj
/packages
