################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
*.dll.config
*.pdb
*.SAV
*.user
.vs/
MigrationBackup/
obj/
packages/
/*.xml
/lib/ki/

