################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
*.dll.config
*.pdb
*.SAV
*.user
obj/
packages/
/*.xml
/.vs
/lib/ki/
